@font-face {
  font-family: "heavy";
  src: url("/heavy.woff2");
}

@font-face {
  font-family: "bold";
  src: url("/bold.woff2");
}

@font-face {
  font-family: 'regular';
  src: url("/regular.woff2");
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'regular', sans-serif;
}


h1 {
  font-family: "heavy";
}
img {
  max-height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: 1px rgb(189, 189, 189) solid;
  width: 90%;
  margin: 0 auto;
}

header {
  height: 75px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  background: rgb(55,0,60);
  background: linear-gradient(90deg, rgba(55,0,60,1) 0%, rgba(28,106,158,1) 70%, rgba(0,212,255,1) 100%);
  color: white;

}

button {
  padding: 5px;
  background-color: rgb(0, 89, 190);
  color: white;
  border-radius: 10px;

}

input {
  padding: 5px;
  border: 1px solid rgb(174, 174, 174);
  margin: 10px 0;
}

select {
  padding: 5px;
  border: 1px solid rgb(174, 174, 174);
  margin: 10px 0;
}




.logo {
  height: 75px;
  padding: 15px;
}

.menu-icon {
  padding: 15px;
  margin-right: 10px;
}

.close-menu-icon {
  margin-right: 10px;
  border-radius: 5px;
  padding: 15px;
  color: white;
}

.menu {
  display: none;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 95px;
  height: 90%;
  width: 75%;
  border-left: #b3b3b3 solid thin;
  color: black;
  background-color: white;
  right: -80rem;
}

.show {
  display: flex;
  transform: translateX(-80rem);
}


.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

main section:first-child {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.selected {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'bold';
  color: white;
  background: linear-gradient(45deg, #2AC2FF, #7e59ff);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.not-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'bold';
  font-size: 1.2rem;
  font-weight: 400;
  color: #37003C;
  border-radius: 10px;
  padding: 10px;
}

.not-selected:hover {
  color: white;
  background: linear-gradient(45deg, #2AC2FF, #7e59ff);
}

.ig-icon {
  margin-right: 5px;
}

.fechas-header {
  width: 100%;
  margin: 0 auto;
  background-image: url(https://www.premierleague.com/resources/rebrand/v7.124.6/i/elements/backgrounds/sm-header-pattern.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.fecha {
  color: white;
}

.fechas-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  border: rgb(200, 200, 200) solid 1px;
  font-weight: 400;
  font-size: 1.5rem;
}
.section-masc, .section-fem {
  width: 100%;
}


.masculino {
  font-size: 26px;
  background-image: url("/fondo-masc.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  color: white;
}

.femenino {
  font-size: 26px;
  background-image: url("/fondo-fem.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  color: white;
}

.vs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 20px;
  margin: 10px auto;
}

.vs > span {
  display: flex;
  width: 50px;
  font-family: 'bold';
  font-weight: 400;
  font-size: 16px;
  border: rgb(209, 209, 209) solid 1px;
  border-radius: 5px;
  margin: 10px;
  justify-content: center;
}


.vs p {
  display: flex;
  font-size: 0.8rem;
  flex: 1;
  align-items: center;
}

.vs .text-left {
justify-content: end;
}

.vs .text-right {
  justify-content: flex-start;

}

.vs img {
  height: 20px;
}


.vs .img-left {
  margin-left: 3px;
}

.vs .img-right {
  margin-right: 3px;
}




.alert-404 {
  margin: 0 auto;
  text-align: center;
}

.alert-404 h3 {
  padding: 20px;
  color: #082B2F;
  font-size: 2rem;
}

.add-player {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto
}

table {
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 5px;
}

th, td {
  border-width: 1px 0px 1px 0px;
  padding: 5px;
}

.table-pts {
  font-family: 'Heavy';
}

.table-title {
  color: white;
  font-family: 'heavy';
  font-size: 1.2rem;
  padding: 5px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.td-center {
  text-align: center;
}

td img {
  height: 20px;
}


.team {
  background-color: #70007a ;
  border-radius: 10px;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 50%;
  margin: 0 auto;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 10px;
}

.team p {
  font-family: "bold";
}

.team-title {
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
}

.players {
  padding: 10px;
}

.list {
  list-style: none;
}

.title-players {
  font-family: "heavy";
  color: #37003C;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.player-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.player-list p:first-child {
  width: 30px;
}

.player-list div {
  display: flex;
}

.div-players {
  width: 100%;
}


.player-info {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #231F20;
  color: white;
  padding: 10px;
}

.player-info p {
  font-family: "bold";
}

.select {
  display: flex;
  margin: 20px auto;
  width: 80%;
  justify-content: space-around;
  margin-bottom: 20px;
}


.select-hide {
  display: none;
}

.select-show {
  width: 80%;
  margin: 0 auto;
}



.center {
  display: flex;
  align-items: center;
  gap: 5px;
}

.games {
  width: 80%;
  margin: 0 auto;
}


.group {
  text-align: center;
  margin: 0 auto;
  background-color: #082B2F;
  color: white;
  font-family: "bold";
}

.fechas {
  border: 1px solid rgb(217, 217, 217);
  border-radius: 15px;
  margin-bottom: 10px;
  width: 80%;
  margin: 0 auto;
}

.fechas > p {
  font-family: 'bold';
  font-size: 1.3rem;
}

.delete-players {
  display: flex;
  flex-direction: column;
  width: 60%; 
  margin: 20px auto; 
}

.delete-players button {
  background-color: rgb(156, 17, 17);
  color: white;
}

.add-result {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background-color: #dcdcdc;
}

.players-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
  gap: 10px; /* Espacio entre las tarjetas */ 
}